body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.container {
	width: 580px;
	margin: 20px auto;
}

.container__form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	margin-bottom: 32px;
}

.listing-item {
	margin-bottom: 16px;
}
